.container {
  width: 100vw;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #e6e6e6;
}

.back-color {
  background-color: #e6e6e6;
}
